<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>
<body>
<div th:replace="fragments/header :: header"></div>

<form method=post th:action="@{/addProduct}" name="addProduct" id="addProduct" onsubmit="return validation()">
<select id="employeeIds">
	<div th:each="employee : ${employees}">
	<option  th:text="${employee.name}"  th:value="${employee.id}"></option>
	</div>
</select>

<select id="productIds">
	<div th:each="product : ${products}">
		<option  th:text="${product.name} + ' (' + ${product.price} +' Ft)'" th:value="${product.id}" name="productId"></option>
	</div>
</select>
	<input type="number" name="quantity" placeholder="Quantity" required min="1" step="1">
	<p hidden><input type="number" id="employeeId" name="employeeId" ></p>
	<p hidden><input type="number" id="productId" name="productId" ></p>
	<input type="submit" name="submit" value="Add" />

</form>

<table>

		<thead>
		<tr th:if="${not #lists.isEmpty(purchase.items)}">
		<td>Product name</td>
		<td>Price</td>
		<td>Quantity</td>
		</tr>
		</thead>
		<tbody>
		<tr th:each="item : ${purchase.items}">
			<form method=post th:action="@{'/updateItem=' + ${item.id}}">
		<td th:text="${item.product.name}"></td>
		<td th:text="${item.price}+' Ft'"></td>
		<td th:text="${item.quantity}+' db'"></td>
			<td><a th:href="@{'/deleteItem=' + ${item.id}}">Delete</a></td>
				<td><input type="number" name="updateItem" placeholder="New quantity" min="1" step="1"  required></td>
			<td><input type="submit" name="submit" value="Update" /></td>
			</form>
		</tr>
		</tbody>


</table>
<form method=post th:action="@{/purchase}" >
	<input th:if="${not #lists.isEmpty(purchase.items)}" type="submit" name="submit" value="Purchase" />
</form>

<script type="text/javascript">
function validation(){

	var e = document.getElementById("employeeIds");
	var selectedEmployeeId = e.options[e.selectedIndex].value;
	var a = document.getElementById("productIds");
	var selectedProductId = a.options[a.selectedIndex].value;

	document.getElementById('employeeId').value=selectedEmployeeId;
	document.getElementById('productId').value=selectedProductId;

}
document.getElementById("editDiv").style.display = "none";
function edit() {
  var x = document.getElementById("editDiv");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

</script>



</div>

<div th:replace="fragments/footer :: footer"></div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!--<script type="text/javascript" th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>-->
</body>
</html>